@page "/categories"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSalesMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-2">
        <a href="categories/create">Create New</a>
    </div>
    <div class="col-2">
        <a href="/inventories/create">Back to Add Inventory</a>
    </div>

</div>


<QuickGrid Class="table" Items="context.Categories">
    <PropertyColumn Property="category => category.CategoryName" Title="Category Name" />
    <PropertyColumn Property="category => category.Description" />

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?id={category.Id}")">Edit</a> |
        <a href="@($"categories/details?id={category.Id}")">Details</a> |
        <a href="@($"categories/delete?id={category.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
