@page "/categories"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSalesMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Index</PageTitle>
<h1>Category List</h1>
<div class="row">
    <div class="col-2">
        <a class="btn btn-success" href="categories/create">Create New</a>
    </div>
    <div class="col-2">
        <a class="btn btn-warning" href="/inventories/create">Back to Add Inventory</a>
    </div>

</div>


<QuickGrid Class="table-striped" Items="context.Categories">
    <PropertyColumn Property="category => category.CategoryName" Title="Category Name" />
    <PropertyColumn Property="category => category.Description" />

    <TemplateColumn Context="category">
        <a class="btn btn-success" href="@($"categories/edit?id={category.Id}")">Edit</a> |
        <a class="btn btn-info" href="@($"categories/details?id={category.Id}")">Details</a> |
        <a class="btn btn-danger" href="@($"categories/delete?id={category.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
