@page "/inventories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSalesMS.Data
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@rendermode InteractiveServer
<PageTitle>Iventory</PageTitle>

<h2>Inventory</h2>

<p>
    <a href="inventories/create">Create New</a>
</p>
<div class="mb-6">
    <input type="text"  @bind="search" class="underline-only" @bind:event="oninput" placeholder="Search name or category"  style="width:220px" />
    <a @onclick="Sortbyalphabet" style="cursor:pointer;color:darkblue;margin-left:100px">|Sort by Alphabet |</a>
    <a @onclick="SortbyQty" style="cursor:pointer;color:darkblue">Sort by Qty |</a>
</div>
<QuickGrid  Items="filteredInventories.AsQueryable()" TGridItem="Inventory" Class="table table-striped">
   
    <PropertyColumn Property="inventory => inventory.ItemName" Title="Item"/>
    <PropertyColumn Property="inventory => inventory.QuantityOH" Title="QtyOH" />
    <PropertyColumn Property="inventory => inventory.Unit" />
    <PropertyColumn Property="inventory => inventory.Category" />
    <PropertyColumn Property="inventory => inventory.PdnPrice" Title="Costing Price"/>
    <PropertyColumn Property="inventory => inventory.SalesPrice" Title="Sales Price"/>
    <PropertyColumn Property="inventory => inventory.ExpirationDate.ToShortDateString()" Title="Expaired Date" />
    <PropertyColumn Property="inventory => inventory.LastUpdatePriceDate.ToShortDateString()" Title="Last Price Qty" />

    <TemplateColumn Context="inventory">
        <a href="@($"/recepits/create?name={inventory.ItemName}")">Recepit</a> |
        <a href="@($"inventories/edit?id={inventory.Id}")">Edit</a> |
        <a href="@($"inventories/details?id={inventory.Id}")">Details</a> |
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private string search = "";
    private List<Inventory> inventories = [];
    private IEnumerable<Inventory> filteredInventories =>
         string.IsNullOrWhiteSpace(search)
             ? inventories
             : inventories.Where(i =>
                 i.ItemName.Contains(search, StringComparison.OrdinalIgnoreCase) || i.Category.Contains(search, StringComparison.OrdinalIgnoreCase)).ToList();
    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        inventories = context.Inventories.ToList();
    }
    void Sortbyalphabet()
    {
        context = DbFactory.CreateDbContext();
        inventories = context.Inventories.OrderBy(x=>x.ItemName).ToList();
    }
    void SortbyQty()
    {
        context = DbFactory.CreateDbContext();
        inventories = context.Inventories.OrderBy(x => x.QuantityOH).ToList();
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
