@page "/inventories"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorSalesMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@attribute [Authorize(Roles = "Admin,User")]
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="inventories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Inventories">
    <PropertyColumn Property="inventory => inventory.ItemName" />
    <PropertyColumn Property="inventory => inventory.SKU" />
    <PropertyColumn Property="inventory => inventory.Quantity" />
    <PropertyColumn Property="inventory => inventory.Price" />
    <PropertyColumn Property="inventory => inventory.ExpirationDate" />

    <TemplateColumn Context="inventory">
        <a href="@($"inventories/edit?id={inventory.Id}")">Edit</a> |
        <a href="@($"inventories/details?id={inventory.Id}")">Details</a> |
        <a href="@($"inventories/delete?id={inventory.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
