@page "/units/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorSalesMS.Data
@inject IDbContextFactory<BlazorSalesMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Unit</h2>
<hr />
@if (Unit is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Unit" OnValidSubmit="UpdateUnit" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Unit.Id" value="@Unit.Id" />
                <div class="mb-3">
                    <label for="unitname" class="form-label">UnitName:</label>
                    <InputText id="unitname" @bind-Value="Unit.UnitName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Unit.UnitName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Unit.Description" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Unit.Description" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/units">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Unit? Unit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Unit ??= await context.Unit.FirstOrDefaultAsync(m => m.Id == Id);

        if (Unit is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateUnit()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Unit!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!UnitExists(Unit!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/units");
    }

    private bool UnitExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Unit.Any(e => e.Id == id);
    }
}
